PvpIdentityProvider/Service References/AuthorizationWebService/PvpAuthorizer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.egora.at/Stammportal/AuthorizationWebService/1.0" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.egora.at/Stammportal/AuthorizationWebService/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.egora.at/Stammportal/AuthorizationWebService/1.0">
      <s:element name="GetAuthorization">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rootUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthorizationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorizationResult" type="tns:CustomAuthorization" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomAuthorization">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HttpHeaders" type="tns:ArrayOfHttpHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="SoapHeaderXmlFragment">
            <s:complexType>
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="TimeToLive" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PvpVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHttpHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HttpHeader" nillable="true" type="tns:HttpHeader" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HttpHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAuthorizationSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthorization" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizationSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthorizationResponse" />
  </wsdl:message>
  <wsdl:portType name="PvpAuthorizerSoap">
    <wsdl:operation name="GetAuthorization">
      <wsdl:input message="tns:GetAuthorizationSoapIn" />
      <wsdl:output message="tns:GetAuthorizationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PvpAuthorizerSoap" type="tns:PvpAuthorizerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthorization">
      <soap:operation soapAction="http://www.egora.at/Stammportal/AuthorizationWebService/1.0/GetAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PvpAuthorizerSoap12" type="tns:PvpAuthorizerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthorization">
      <soap12:operation soapAction="http://www.egora.at/Stammportal/AuthorizationWebService/1.0/GetAuthorization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PvpAuthorizer">
    <wsdl:port name="PvpAuthorizerSoap" binding="tns:PvpAuthorizerSoap">
      <soap:address location="http://egoratest/TestAuthorizationWebService/PvpTestAuthorizer.asmx" />
    </wsdl:port>
    <wsdl:port name="PvpAuthorizerSoap12" binding="tns:PvpAuthorizerSoap12">
      <soap12:address location="http://egoratest/TestAuthorizationWebService/PvpTestAuthorizer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>