HttpReverseProxy/PathMap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.egora.at/Stammportal/PathMap/1.0" elementFormDefault="qualified" targetNamespace="http://www.egora.at/Stammportal/PathMap/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PathMap" nillable="true" type="tns:PathMap" />
  <xs:complexType name="PathMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Directories" type="tns:ArrayOfChoice1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice1">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="ApplicationDirectory" nillable="true" type="tns:ApplicationDirectory" />
      <xs:element minOccurs="1" maxOccurs="1" name="Directory" nillable="true" type="tns:Directory" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ApplicationDirectory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Directory">
        <xs:attribute name="AuthorizationWebService" type="xs:string" />
        <xs:attribute name="CertificateFile" type="xs:string" />
        <xs:attribute name="RootUrl" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Directory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Directories" type="tns:ArrayOfChoice1" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="TargetPath" type="xs:string" />
  </xs:complexType>
</xs:schema>